.news-item {
    margin:0 0 15px 0;
    clear:both;
}

.news-item span.date {
    font-size:1em; 
    text-align:right;
    float:right;
    width:20%;
}

.news-item-comment form {
    margin:20px 0px 0px;
    display:block;
    clear:both;
}

.news strong{
    font-weight:700;
}

.news em{
    font-style:italic;
}

.news a{
    text-decoration:underline;
}

.news-item h2{
    text-transform:uppercase;
    float:left;
    width:65%;
}

.news h3{
    text-transform:uppercase;
    font-size:1.33em;
    margin:25px 0 10px;
}

.news .title-divider{
    margin-bottom:15px;
}

.prev {
    float:left;
    margin:4px 12px 5px 0;
}

.date {
    color:#999999;
    font-size:11px;
}

.page-title h1{
    padding-bottom:14.5px;
    width:65%; float:left;
}

.page-title .title-divider{
    width:100%; float:left;
    margin-bottom:15px;
}

.page-title .titleSection{
    width:100%;
}


.page-title .titleSection h1{
    width:65%;
    float:left;
}

.page-title .titleSection .date{
    float:right;
    width:20%;
    padding-top:9px;
    text-align:right;
}
.news-item .title-divider{
    width:76%; float:left;
    margin-bottom:15px;
}

.clearing {
    clear:both;
    font-size:1px;
    height:25px;
    line-height:1px;
}

.comment-item {
    margin:10px 0 0 0;
}

.comment-item .username {
    font-size:12px;
    margin:0px;
    color:#1E7EC8;
    display:inline;
}

.block.news-categories {
    border: 1px solid #C4C1BC;
    margin: 0 0 15px;
}

.block.news-categories .block-title {
    background: url("../images/bkg_block-title.gif") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    padding: 2px 9px;
}

.block.news-categories .menu-categories {
    margin:0px;
    padding: 5px 9px;
}

.block.news-categories .menu-categories h5, .menu-categories ul li{
    font-size:1em;
    margin:0px;
}

.block.news-categories .block-title strong {
    color: #E26703;
    display: block;
    font: bold 12px/16px Arial,Helvetica,sans-serif;
    min-height: 16px;
    padding: 1px 0;
    text-transform: uppercase;
}

.titleSection{
    float:left;
    width:76%;
}

.news {
    text-align:justify;
    color:#474747;
    position: relative;
    }

h4 {
    color:#e26703;
    font-size:15px;
    }
.news-item {
    clear:both;
    padding-bottom:20px;
    color:#474747;
    display:block;
    float:left;
    }
.news_image {
    float:left;
    margin:3px 15px 5px 0px;
    width:200px;
    height:97px;
    }
.news_image_full_width{
    width:100%;
    float:left;
    margin-bottom:15px;
}
.news-item .description {
    text-align:justify;
    float:left;
    width:76%;
    }

.news-item .description .bottomInfo{
    float:left;
    width:100%;
    margin-top:10px;
    }

.authorText{float:left;}

.bottomInfo .more{
    float:right;
    width:40%;
    text-align:right;
}
.bottomInfo .author{
    float:left;
    width:40%;
}
@media screen and (max-width: 768px){
    .bottomInfo .more{
        text-align:left;
        float:left;
        margin-top:10px;
    }
}
.news-item .description p {
    display:inline;
    margin:0px;
    }
.news-item .comment {
    float:right;
    font-size:11px;
    padding-top:5px;
    }
.social {
    padding-top:10px;
    height:35px;
    }
.social .google_button {
    float:left;
    width:80px;
    overflow:hidden;
    }
.social .fb-like {
    float:left;
    }

.news-item-comment {
    clear:both;
    padding-bottom:20px;
    }
.news-item-comment p.required {
    text-align:left;
    }
.news .loadfile {
    text-align:right;
    }
.news .loadfile a {
    background: url(images/i_attached.gif) 0px 0px no-repeat;
    padding:1px 0 0 20px;
    }
#postComment label {
    float:left;
    width:80px;
    }
#postComment .input-box {
    padding-bottom:9px;
    }
#postComment input[type="text"] {
    width:200px;
    }
label .required {
    color:red;
    }
#postComment .validation-advice {
    margin-left:80px;
    }
#postComment .button-set {
    padding-left:80px;
    }

#comment_block .comment-item div {
    padding-left:10px;
    }

/*-- pager --*/
.news-item-comment .pager {
    background:none;
    margin-top:20px;
    padding-top:10px;
    text-align:left;
    }
.news-item-comment .pager span {
    cursor:pointer;
    border:1px solid #dadfe0;
    float:left;
    height:19px;
    width:20px;
    text-align:center;
    margin-right:6px;
    line-height:19px;
    }
.news-item-comment .pager span.current {
    cursor:default;
    background:#c6c6c6;
    }
.news-item-comment .pager span:hover {
    background:#c6c6c6;
    }
.news-item-comment .pager #prev,
.news-item-comment .pager #next {
    border:none !important;
    background:none !important;
    padding:0px !important;
    margin:0px !important;
    width:auto !important;
    }
.news-item-comment .pager .prev,
.news-item-comment .pager .next {
    width:auto;
    padding:0 5px;
    margin-top:0px;
    }
/*-- /pager --*/
.print-btn {
    float:right;
    background: url(images/i_print.gif) 0px 0px no-repeat;
    padding-left:20px;
    }
#clloader {
    position:absolute;
    margin-left:333px
    }
.tags {
    background: url(images/i-tags.gif) 0px 1px no-repeat;
    padding-left:20px;
    }
.clcopyright{
    display:none !important;
}

table{
    margin-top:25px;
}

th{
    background-color:#000000;
    color:#ffffff;
    padding:10px;
    text-transform:uppercase;
    font-size:1.33em;
}
tr, td{
    border:1px solid #C8C7C7;
    padding:10px;
}

.cs_bold{
    font-weight:bold;
}

td{
    color:#231F20;
    background-color:#FAFAFA;
}
.cs_tdleft{
    background-color:#ffffff;
}

#gallery_link {
    position:absolute;
    top:0px;
    left:0px;
    z-index:998;
    box-shadow: 0px 0px 5px #ccc;
    background:#ff0000;
    display:inline-block;
    width:100px;
    height:50px;
}

#gallery {
    position:absolute;
    top:595px;
    right:20px;
    z-index:998;
    box-shadow: 0px 0px 5px #999;
}

#gallery a {
    cursor: pointer;
    padding:10px 20px 10px 20px;
    display: block;
    color:#000;
    font-weight: bold;
    font-size: 14px;
    background:#fff;
    text-transform: uppercase;
}

#gallery a:hover {
    color:#fff;
    background:#000;
}

#gallery button.button span, input.button span {
    color:#909090;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#gallery button.button > span{background-color:#ffffff;}
#gallery button.button:hover > span{background-color:#000000;}
#gallery button.button:active > span{background-color:#ffffff!important; -moz-transition: all 10ms ease; -webkit-transition: all 10ms ease; -o-transition: all 10ms ease; transition: all 10ms ease;}

.caseMenuLeft{
    width:100%;
    float:left;
    line-height:25px;
}
.caseMenuRight{
    display:none;
}

.menu-categories .see-all{
    text-transform:uppercase;
    text-decoration:underline !important;
    padding-top:15px;
    float:left;
    width:100%;
    padding-bottom:30px;
}
